.mcp-event-group h3 {
  font-size: 16px;
  margin: 8px 0;
}

.mcp-event {
  display: block;
  font-size: 16px;
  padding: 8px 20px;
  margin: 0 -20px;
}

.mcp-event:hover {
  background: #f7690221;
}

.mcp-event:hover img {
  transform: rotate(-10deg) scale(.95);
}

.mcp-event img {
  vertical-align: middle;
  opacity: .66;
  margin: 0 8px 0 2px;
  transition: transform .5s;
}

.mcp-event-header {
  display: block;
  font-weight: bold;
}

.mcp-event-title {
  display: block;
  margin-left: 40px;
  line-height: 1.33em;
}

/* Below is the styling for the RIT links widget, just below
the calendar widget on the home page. There's probably a better
place to put this, but it's fine here for now. */

/* For some reason, the top padding of the widget we hijack
for the RIT links is 15px. We want it at 20px to be consistent
with our modified calendar widget. */
body > div.d2l-page-main.d2l-max-width.d2l-min-width.d2l-home > div.d2l-page-main-padding > div.d2l-homepage > div > div.homepage-row > div > div.homepage-col-4 > div.d2l-widget.d2l-tile.d2l-custom-widget {
  padding: 20px;
}

/* Adding link styling to the RIT links widget */
body > div.d2l-page-main.d2l-max-width.d2l-min-width.d2l-home > div.d2l-page-main-padding > div.d2l-homepage > div > div.homepage-row > div > div.homepage-col-4 > div.d2l-widget.d2l-tile.d2l-custom-widget a {
  color: #006fbf;
  text-decoration: underline;
  display: block;
  margin-top: 8px;
}

