/* These are miscellaneous stylings to strip away some
of the cruft on the calendar widget on the home page. */

.d2l-collapsepane-content {
  border: none !important;
}

.d2l-datalist-item-content .d2l-inline:first-child {
  margin-left: 12px !important;
}

.d2l-datalist-item-content .d2l-inline:nth-child(2) {
  width: 75% !important;
}

.homepage-col-4 .d2l-homepage-heading-link .d2l-heading.vui-heading-4 {
  margin: 20px 0 0 20px;
}

.homepage-col-4 .d2l-widget-content-padding {
  padding: 0;
  margin-top: -20px;
}

/* Below is the styling for the RIT links widget, just below
the calendar widget on the home page. There's probably a better
place to put this, but it's fine here for now. */

/* For some reason, the top padding of the widget we hijack
for the RIT links is 15px. We want it at 20px to be consistent
with our modified calendar widget. */
body > div.d2l-page-main.d2l-max-width.d2l-min-width.d2l-home > div.d2l-page-main-padding > div.d2l-homepage > div > div.homepage-row > div > div.homepage-col-4 > div.d2l-widget.d2l-tile.d2l-custom-widget {
  padding: 20px;
}

/* Adding link styling to the RIT links widget */
body > div.d2l-page-main.d2l-max-width.d2l-min-width.d2l-home > div.d2l-page-main-padding > div.d2l-homepage > div > div.homepage-row > div > div.homepage-col-4 > div.d2l-widget.d2l-tile.d2l-custom-widget a {
  color: #006fbf;
  text-decoration: underline;
  display: block;
  margin-top: 8px;
}

