@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.mcp-quick-bar-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-top: 1px solid rgba(124, 134, 149, 0.18);
}

.mcp-quick-bar {
  max-width: 1230px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px 30px;
}

.mcp-quick-bar a {
  color: #494c4e;
  text-decoration: none;
}

.mcp-quick-bar img {
  height: 1em;
}

.mcp-add-button {
  margin-left: 30px;
  padding: 4px 8px;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #e3e9f1;
  border-radius: 0.4rem;
  font-family: "Lato", sans-serif;
}

.mcp-class {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.mcp-class:hover .mcp-class-dropdown {
  display: flex;
}

.mcp-class-link {
  display: block;
  font-weight: normal;
  color: #494c4e;
  text-decoration: none;
}

.mcp-class-dropdown {
  display: none;
  position: absolute;
  left: -16px;
  z-index: 10;
}

.mcp-class-dropdown-content {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 8px;
  background: linear-gradient(to bottom, white, #f9fbff);
  border: 1px solid #e3e9f1;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.mcp-class-dropdown-content a {
  font-weight: normal;
  color: #494c4e;
  text-decoration: none;
  padding: 8px 12px;
}

.mcp-class-dropdown-content a:first-child {
  padding-top: 12px;
  border-radius: 0.4rem 0.4rem 0 0;
}

.mcp-class-dropdown-content a:hover {
  background: #eeeeee;
}

.mcp-class-dropdown-content button {
  border: none;
  border-radius: 0 0 0.4rem 0.4rem;
  font-family: "Lato", sans-serif;
  padding: 8px 12px;
  width: max-content;
  cursor: pointer;
}
